<div class="row">
 
  <div class="col s4  ">
    <div class="row center">
      <div class="col s11 eventDisplay" id="eventDisplay">
        <div id="event0" style="width: 96px; height: 304.5px; margin-top: 16px; margin-left: 0px; background: linear-gradient(rgb(0, 255, 255) 1%, rgb(0, 179, 179) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(0, 128, 128);"></div>
        <div id="event1" style="width: 96px; height: 249.5px; margin-top: 16px; margin-left: 96px; background: linear-gradient(rgb(255, 165, 0) 1%, rgb(179, 116, 0) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(128, 83, 0);"></div>
        <div id="event3" style="width: 96px; height: 112px; margin-top: 43.5px; margin-left: 192px; background: linear-gradient(rgb(255, 255, 0) 1%, rgb(230, 230, 0) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(179, 179, 0);"></div>
        <div id="event6" style="width: 96px; height: 29.5px; margin-top: 153.5px; margin-left: 192px; background: linear-gradient(rgb(255, 0, 255) 1%, rgb(230, 0, 230) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(179, 0, 179);"></div>
        <div id="event10" style="width: 96px; height: 29.5px; margin-top: 208.5px; margin-left: 192px; background: linear-gradient(rgb(240, 230, 140) 1%, rgb(216, 207, 126) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(168, 161, 98);"></div>
      </div>
    </div>
  </div>
  
</div>