<div class="row">
  <div class="col s4  ">
    <div class="row center">
      <div class="col s11 eventDisplay" id="eventDisplay">

        <div id="event0" style="width: 96px; height: 194.5px; margin-top: 153.5px; margin-left: 0px; background: linear-gradient(rgb(0, 0, 0) 1%, rgb(0, 0, 0) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(0, 0, 0);"></div>
        <div id="event1" style="width: 96px; height: 29.5px; margin-top: 153.5px; margin-left: 192px; background: linear-gradient(rgb(75, 0, 130) 1%, rgb(53, 0, 91) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(38, 0, 65);"></div>
        <div id="event3" style="width: 96px; height: 112px; margin-top: 153.5px; margin-left: 96px; background: linear-gradient(rgb(85, 107, 47) 1%, rgb(60, 75, 33) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(43, 54, 24);"></div>
        <div id="event6" style="width: 96px; height: 112px; margin-top: 181px; margin-left: 192px; background: linear-gradient(rgb(192, 192, 192) 1%, rgb(173, 173, 173) 90%); position: absolute; z-index: 9999; border: 1px solid rgb(134, 134, 134);"></div>


      </div>
    </div>
  </div>
</div>